@model int

<a class="btn btn-success btn-sm ml-1" asp-action="Index" asp-controller="Cart">
	<i class="fa fa-shopping-cart"></i> Cart
	<span id="cartQuantity" class="badge badge-light">@Model</span>
</a>