@model ProductsListViewModel

@if (Model.SearchModel.SearchModel.CategoryId != null)
{
	await Component.InvokeAsync("CategoryBreadCrumb", new { categoryId = Model.SearchModel.SearchModel.CategoryId });
}

@await Html.PartialAsync("ProductFilterForm", Model.SearchModel)

@foreach (ProductView p in Model.Products)
{
	<partial name="ProductSummary" model="p" />
}

<div page-model="Model.PagingInfo" page-action="@ViewContext.RouteData.Values["Action"].ToString()" class="col-12"
	 page-class="page-item" page-class-normal=""
	 page-class-selected="active" page-class-disabled="disabled"
	 page-url-searchString="Model.SearchModel.SearchModel.SearchString" page-url-categoryId="Model.SearchModel.SearchModel.CategoryId"
	 page-url-price="Model.SearchModel.SearchModel.Price" page-url-priceIndication="Model.SearchModel.SearchModel.PriceIndication">
</div>