@model ProductsListViewModel

@{
	ECommerceService eCommerce = (ECommerceService)ViewData[GlobalViewBagKeys.ECommerceService];
	ProductTypeView productType = await eCommerce.GetProductTypeByAsync((int)Model.SearchModel.SearchModel.ProductTypeId);
}
<h1>@productType.Name</h1>

@foreach (ProductView p in Model.Products)
{
	<partial name="ProductSummary" model="p" />
}

<div page-model="Model.PagingInfo" page-action="@ViewContext.RouteData.Values["Action"].ToString()" class="d-flex justify-content-center"
	 page-class="page-item" page-class-normal=""
	 page-class-selected="active" page-class-disabled="disabled"
	 page-url-productTypeId="Model.SearchModel.SearchModel.ProductTypeId">
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/product-summary.css" />
}