/*replaces text over flow with dots for customer and seller dropdown*/
.overflow-txt {
	white-space: nowrap;
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*drop down*/
.dropdown-submenu {
	position: relative;
}

	.dropdown-submenu > a:after {
		content: ">";
		float: right;
	}

	.dropdown-submenu > .dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: 0px;
		margin-left: 0px;
	}

.dropdown-hover .dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

.dropdown-toggle:hover {
	text-decoration: none;
	color: white;
}

.dropdown-toggle {
	color: white;
}

.category_block .dropdown-item:hover {
	background-color: #007bff;
	color: #ffffff;
}

.category_block .dropdown-item {
	color: #343a40;
}

/*limits size for Product Type Update Request table rows and restricts image size*/

.productImageContainerForUpdateRequestTable {
	height: 200px;
	width: 200px;
	display: flex;
}

.productImageContainerForUpdateRequestTable img {
	margin: auto;
	max-height: 100%;
	max-width: 100%;
}


/*new layout*/
.header {
	background-color: #343a40; /*dark*/
}

	.header .dropdown-menu {
		position: absolute !important;
		right: 0;
		left: auto;
		border-radius: 0px;
	}

	.header .user-image {
		float: left;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		margin-right: 10px;
		margin-top: -2px;
	}

	.header .navbar-light .navbar-nav .nav-link {
		color: #f8f9fa; /*light*/
		padding: 10px 20px;
		position: relative;
	}

		.header .navbar-light .navbar-nav .nav-link:hover, .header .navbar-light .navbar-nav .nav-link:focus {
			background: rgba(0,0,0,0.1);
			color: #e2e6ea;
		}

	.header .fa.fa-fw.fa-bars {
		color: #fff;
	}

	.header li > a > .label {
		position: absolute;
		top: 9px;
		right: 7px;
		text-align: center;
		font-size: 9px;
		padding: 2px 3px;
		line-height: .9;
		background-color: #333;
		border-radius: .25em;
	}

	.header li > a:after {
		display: none;
	}

.header-ul {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: #ffffff;
	padding: 7px 10px;
	border-bottom: 1px solid #f4f4f4;
	color: #333;
	font-size: 14px;
}

.navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .messages-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu {
	width: 280px;
	padding: 0 0 0 0;
	margin: 0;
	top: 100%;
}

	.navbar-nav > .messages-menu > .dropdown-menu li .menu > li > a > div > img {
		margin: auto 10px auto auto;
		width: 40px;
		height: 40px;
	}

	.navbar-nav > .messages-menu > .dropdown-menu li .menu > li > a, .navbar-nav > .notifications-menu > .dropdown-menu li .menu > li > a {
		margin: 0;
		padding: 10px 10px;
		display: block;
		white-space: nowrap;
		border-bottom: 1px solid #f4f4f4;
	}

		.navbar-nav > .messages-menu > .dropdown-menu li .menu > li > a > h4 {
			padding: 0;
			margin: 0 0 0 45px;
			color: #333;
			font-size: 15px;
			position: relative;
		}

		.navbar-nav > .messages-menu > .dropdown-menu li .menu > li > a > p {
			margin: 0 0 0 45px;
			font-size: 12px;
			color: #888888;
		}

.footer-ul a {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	font-size: 12px;
	background-color: #fff;
	padding: 7px 10px;
	border-bottom: 1px solid #eeeeee;
	color: #333;
	display: block;
}

.dropdown-menu-over .menu {
	max-height: 200px;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-x: hidden;
}

.navbar-nav > .notifications-menu > .dropdown-menu li .menu > li > a {
	color: #444444;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 10px;
}

	.navbar-nav > .notifications-menu > .dropdown-menu li .menu > li > a > .glyphicon, .navbar-nav > .notifications-menu > .dropdown-menu li .menu > li > a > .fa, .navbar-nav > .notifications-menu > .dropdown-menu li .menu > li > a > .ion {
		width: 20px;
	}

footer {
	background: #343a40;
	padding: 40px;
}

	footer a {
		color: #f8f9fa !important
	}
/***    left menu ****/

/***********************  TOP Bar ********************/
.sidebar {
	width: 100%;
	background-color: #343a40;
	transition: all 0.5s ease-in-out;
}

	.sidebar ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
	}

	.sidebar li a, .sidebar li a.collapsed.active {
		display: block;
		padding: 8px 12px;
		color: #fff;
		border-left: 0px solid #dedede;
		text-decoration: none
	}

		.sidebar li a.active {
			background-color: #23272b;
			border-left: 5px solid #dedede;
			transition: all 0.5s ease-in-out
		}

		.sidebar li a:hover {
			background-color: #1d2124 !important;
		}

		.sidebar li a i {
			padding-right: 5px;
		}

	.sidebar ul li .sub-menu li a {
		position: relative
	}

		.sidebar ul li .sub-menu li a:before {
			font-family: "Font Awesome 5 Free";
			content: "\f054";
			display: inline-block;
			padding-left: 0px;
			padding-right: 10px;
			vertical-align: middle;
			font-weight: 900;
		}

		.sidebar ul li .sub-menu li a:hover:after {
			content: "";
			position: absolute;
			left: -5px;
			top: 0;
			width: 5px;
			background-color: #111;
			height: 100%;
		}

		.sidebar ul li .sub-menu li a:hover {
			background-color: #222;
			padding-left: 20px;
			transition: all 0.5s ease-in-out
		}

.sub-menu {
	border-left: 5px solid #dedede;
}

.sidebar li a .nav-label, .sidebar li a .nav-label + span {
	transition: all 0.5s ease-in-out
}

.user-panel {
	clear: left;
	display: block;
	float: left;
}

	.user-panel > .image > img {
		width: 100%;
		max-width: 45px;
		height: auto;
	}

	.user-panel > .info, .user-panel > .info > a {
		color: #fff;
	}

		.user-panel > .info > p {
			font-weight: 600;
			margin-bottom: 9px;
		}

.user-panel {
	clear: left;
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 15px;
	padding: 25px 15px;
	border-bottom: 1px solid;
}

	.user-panel > .info {
		position: relative;
	}

footer {
	background: #343a40;
	padding: 40px;
}

	footer a {
		color: #f8f9fa !important
	}

.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height .35s ease;
	-o-transition: height .35s ease;
	transition: height .35s ease
}

@media (max-width:575px) {
	.navbar-toggleable .navbar-nav .dropdown-menu {
		position: static;
		float: none
	}

	.navbar-toggleable > .container {
		padding-right: 0;
		padding-left: 0
	}
}

@media (min-width:576px) {
	.navbar-toggleable {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center
	}

		.navbar-toggleable .navbar-nav {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row
		}

			.navbar-toggleable .navbar-nav .nav-link {
				padding-right: .5rem;
				padding-left: .5rem
			}

		.navbar-toggleable > .container {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center
		}

		.navbar-toggleable .navbar-collapse {
			display: -webkit-box !important;
			display: -webkit-flex !important;
			display: -ms-flexbox !important;
			display: flex !important;
			width: 100%
		}

		.navbar-toggleable .navbar-toggler {
			display: none
		}
}

@media (max-width:767px) {
	.navbar-toggleable-sm .navbar-nav .dropdown-menu {
		position: static;
		float: none
	}

	.navbar-toggleable-sm > .container {
		padding-right: 0;
		padding-left: 0
	}
}

@media (min-width:768px) {
	.navbar-toggleable-sm {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center
	}

		.navbar-toggleable-sm .navbar-nav {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row
		}

			.navbar-toggleable-sm .navbar-nav .nav-link {
				padding-right: .5rem;
				padding-left: .5rem
			}

		.navbar-toggleable-sm > .container {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center
		}

		.navbar-toggleable-sm .navbar-collapse {
			display: -webkit-box !important;
			display: -webkit-flex !important;
			display: -ms-flexbox !important;
			display: flex !important;
			width: 100%
		}

		.navbar-toggleable-sm .navbar-toggler {
			display: none
		}
}

@media (max-width:991px) {
	.navbar-toggleable-md .navbar-nav .dropdown-menu {
		position: static;
		float: none
	}

	.navbar-toggleable-md > .container {
		padding-right: 0;
		padding-left: 0
	}
}

@media (min-width:992px) {
	.navbar-toggleable-md {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center
	}

		.navbar-toggleable-md .navbar-nav {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row
		}

			.navbar-toggleable-md .navbar-nav .nav-link {
				padding-right: .5rem;
				padding-left: .5rem
			}

		.navbar-toggleable-md > .container {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center
		}

		.navbar-toggleable-md .navbar-collapse {
			display: -webkit-box !important;
			display: -webkit-flex !important;
			display: -ms-flexbox !important;
			display: flex !important;
			width: 100%
		}

		.navbar-toggleable-md .navbar-toggler {
			display: none
		}
}

@media (max-width:1199px) {
	.navbar-toggleable-lg .navbar-nav .dropdown-menu {
		position: static;
		float: none
	}

	.navbar-toggleable-lg > .container {
		padding-right: 0;
		padding-left: 0
	}
}

@media (min-width:1200px) {
	.navbar-toggleable-lg {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center
	}

		.navbar-toggleable-lg .navbar-nav {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row
		}

			.navbar-toggleable-lg .navbar-nav .nav-link {
				padding-right: .5rem;
				padding-left: .5rem
			}

		.navbar-toggleable-lg > .container {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center
		}

		.navbar-toggleable-lg .navbar-collapse {
			display: -webkit-box !important;
			display: -webkit-flex !important;
			display: -ms-flexbox !important;
			display: flex !important;
			width: 100%
		}

		.navbar-toggleable-lg .navbar-toggler {
			display: none
		}
}
/*new layout*/