@model OrdersListViewModel

@{
	ECommerceService eCommerce = (ECommerceService)ViewData[GlobalViewBagKeys.ECommerceService];
	CustomerView customer = await eCommerce.GetCustomerByAsync((int)Model.SearchModel.CustomerId);
}
<h1>Customer email: @customer.Email</h1>
<h1>Customer name: @FullName.Write(customer.FirstName, customer.MiddleName, customer.LastName)</h1>

@Html.DisplayFor(m => m.Orders, "OrdersTable")

<div page-model="Model.PagingInfo" page-action="@ViewContext.RouteData.Values["Action"].ToString()" class="col-12"
	 page-class="page-item" page-class-normal=""
	 page-class-selected="active" page-class-disabled="disabled"
	 page-url-customerId="Model.SearchModel.CustomerId">
</div>