@model CustomersListViewModel

@Html.DisplayFor(m => m.SearchModel, "CustomerFilterForm")

@Html.DisplayFor(m => m.Customers, "CustomersTable")

<div page-model="Model.PagingInfo" page-action="@ViewContext.RouteData.Values["Action"].ToString()" class="d-flex justify-content-center"
	 page-class="page-item" page-class-normal=""
	 page-class-selected="active" page-class-disabled="disabled"
	 page-url-email="Model.SearchModel.Email" page-url-firstName="Model.SearchModel.FirstName"
	 page-url-middleName="Model.SearchModel.MiddleName" page-url-lastName="Model.SearchModel.LastName"
	 page-url-active="Model.SearchModel.Active">
</div>