@model IEnumerable<HtmlLinkAttributes>

<nav class="container p-0" aria-label="breadcrumb">
	<ol class="breadcrumb m-0">
		@{
			short length = (short)Model.Count();
			foreach (HtmlLinkAttributes link in Model)
			{
				<li class="breadcrumb-item"><a href="@link.Url">@link.Text</a></li>
			}
		}
	</ol>
</nav>