@model ProductTypeSearchModel

<fieldset class="border rounded">
	<legend>Find Product Type By:</legend>
	<form asp-action="Search" asp-controller="ProductType" method="get">
		<div class="form-row">
			<div class="form-group col-md-6">
				<label class="control-label">Name</label>
				<input class="form-control" type="text" name="searchString" value="@Model.SearchString" />
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">Date Modified</label>
				<input class="form-control" type="date" name="dateModified" value="@Model.DateModified?.ToString("yyyy-MM-dd")" />
			</div>
			<div class="form-group col-md-2">
				<label class="control-label">Status</label>
				<select class="form-control" name="status" enum-type="typeof(ProductTypeStatus)" selected="Model.Status" option-label=""></select>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label class="control-label">Have products with status:</label>
				<select class="form-control" name="productStatus" enum-type="typeof(ProductStatus)" selected="Model.ProductStatus" option-label=""></select>
			</div>
		</div>
		<div class="categoryPickerContainer">
			<div class="form-row">
				<div class="form-group col-md-12">
					<label class="control-label">Category</label>
					<button class="clearCategoryPicking" type="button" class="btn btn-danger btn-sm">X</button>
					<input class="categoryHiddenPickingResult" type="hidden" name="categoryId" value="@Model.CategoryId" />
					<div class="categoryPickingResult">
						@if (Model.CategoryId != null)
						{
							<vc:category-bread-crumb category-id="(int)Model.CategoryId"></vc:category-bread-crumb>
						}
					</div>
				</div>
			</div>
			@await Component.InvokeAsync("CategoriesPickerDropDown", new { additionalCssClass = "btn btn-success" })
		</div>
		<input type="submit" value="Search" class="btn btn-primary" />
	</form>
</fieldset>

<script type="text/javascript">

	//picking category

	$('.categoryPickingButton').click(
		function (event) {
			// Stop form from submitting normally
			event.preventDefault();
			var $btn = $(this);
			var $attr = $btn.find('p[name=\'categoryId\']');

			let container = $(this).closest(".categoryPickerContainer");
			container.find(".categoryHiddenPickingResult").val($attr.html());

			$.ajax({
				url: $('#getCategoryBreadCrumbUrl').val(),
				type: "get",
				data: { categoryId: $attr.html() },
				success: function (result) {
					container.find(".categoryPickingResult").html(result);
				},
				error: function (result) {
					alert('something went wrong while picking category:\n' + result);
				}
			});
		});

	$('.clearCategoryPicking').click(
		function (event) {
			// Stop btn behavior to make form validate it self
			event.preventDefault();

			//clear result of picking category
			let container = $(this).closest(".categoryPickerContainer");
			container.find(".categoryHiddenPickingResult").val('');
			container.find('.categoryPickingResult').html('');
		});
</script>