@model ProductsListViewModel

<h1>Seller: @Model.Products.FirstOrDefault()?.SellerName</h1>

@await Html.PartialAsync("ProductFilterForm", Model.SearchModel)

@Html.DisplayFor(m => m.Products, "ProductsTable")

<div page-model="Model.PagingInfo" page-action="@ViewContext.RouteData.Values["Action"].ToString()" class="d-flex justify-content-center"
	 page-class="page-item" page-class-normal=""
	 page-class-selected="active" page-class-disabled="disabled"
	 page-url-searchString="Model.SearchModel.SearchModel.SearchString" page-url-sellerId="Model.SearchModel.SearchModel.SellerId"
	 page-url-status="Model.SearchModel.SearchModel.Status" page-url-active="Model.SearchModel.SearchModel.Active"
	 page-url-price="Model.SearchModel.SearchModel.Price" page-url-priceIndication="Model.SearchModel.SearchModel.PriceIndication"
	 page-url-categoryId="Model.SearchModel.SearchModel.CategoryId" page-url-productTypeStatus="Model.SearchModel.SearchModel.ProductTypeStatus">
</div>