@model SellersListViewModel

@await Html.PartialAsync("SellerFilterForm", Model.SearchModel)

@await Html.PartialAsync("SellersTable", Model.Sellers)

<div page-model="Model.PagingInfo" page-action="@ViewContext.RouteData.Values["Action"].ToString()" class="d-flex justify-content-center"
	 page-class="page-item" page-class-normal=""
	 page-class-selected="active" page-class-disabled="disabled"
	 page-url-storeName="Model.SearchModel.SearchModel.StoreName" page-url-email="Model.SearchModel.SearchModel.Email"
	 page-url-phoneNumber="Model.SearchModel.SearchModel.PhoneNumber" page-url-status="Model.SearchModel.SearchModel.Status"
	 page-url-id="Model.SearchModel.SearchModel.Id" page-url-firstName="Model.SearchModel.SearchModel.FirstName"
	 page-url-middleName="Model.SearchModel.SearchModel.MiddleName" page-url-lastName="Model.SearchModel.SearchModel.LastName"
	 page-url-userId="Model.SearchModel.SearchModel.UserId">
</div>

@section Scripts{
	<script src="~/js/submit-on-change.js"></script>
}