<li class="nav-item dropdown messages-menu">
	<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fa fa-envelope"></i>
		<span class="label label-success bg-success">10</span>
	</a>
	<div class="dropdown-menu">
		<ul class="dropdown-menu-over list-unstyled">
			<li class="header-ul text-center">You have 4 messages</li>
			<li>
				<!-- inner menu: contains the actual data -->
				<ul class="menu list-unstyled">
					<li>
						<!-- start message -->
						<a href="#">
							<div class="pull-left">
								<img src="http://via.placeholder.com/160x160" class="rounded-circle  " alt="User Image">
							</div>
							<h4>
								Support Team
								<small><i class="fa fa-clock-o"></i> 5 mins</small>
							</h4>
							<p>Why not buy a new awesome theme?</p>
						</a>
					</li>
					<!-- end message -->
					<li>
						<a href="#">
							<div class="pull-left">
								<img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
							</div>
							<h4>
								AdminLTE Design Team
								<small><i class="fa fa-clock-o"></i> 2 hours</small>
							</h4>
							<p>Why not buy a new awesome theme?</p>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="pull-left">
								<img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
							</div>
							<h4>
								Developers
								<small><i class="fa fa-clock-o"></i> Today</small>
							</h4>
							<p>Why not buy a new awesome theme?</p>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="pull-left">
								<img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
							</div>
							<h4>
								Sales Department
								<small><i class="fa fa-clock-o"></i> Yesterday</small>
							</h4>
							<p>Why not buy a new awesome theme?</p>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="pull-left">
								<img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
							</div>
							<h4>
								Reviewers
								<small><i class="fa fa-clock-o"></i> 2 days</small>
							</h4>
							<p>Why not buy a new awesome theme?</p>
						</a>
					</li>
				</ul>
			</li>
			<li class="footer-ul text-center"><a href="#">See All Messages</a></li>
		</ul>
	</div>
</li>