<li class="nav-item dropdown notifications-menu">
	<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fa fa-bell"></i>
		<span class="label label-warning bg-warning">10</span>
	</a>
	<div class="dropdown-menu">
		<ul class="dropdown-menu-over list-unstyled">
			<li class="header-ul text-center">You have 10 notifications</li>
			<li>
				<!-- inner menu: contains the actual data -->
				<ul class="menu list-unstyled">
					<li>
						<a href="#">
							<i class="fa fa-users text-aqua"></i> 5 new members joined today
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fas fa-exclamation-circle"></i> Very long description here that may not fit into the
							page and may cause design problems
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-users text-red"></i> 5 new members joined
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-shopping-cart text-green"></i> 25 sales made
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-user text-red"></i> You changed your username
						</a>
					</li>
				</ul>
			</li>
			<li class="footer-ul text-center"><a href="#">View all</a></li>
		</ul>
	</div>
</li>