<li class="nav-item dropdown  user-menu">
	<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<img src="~/images/sample.png" class="user-image" alt="User Image">
		<span class="hidden-xs">bootstrap develop</span>
	</a>
	<div class="dropdown-menu">
		<a class="dropdown-item" href="#">Personal Information</a>
		<a class="dropdown-item" href="#">Sign out</a>
	</div>
</li>