@model SellerSignupViewModel

<form method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	@await Html.PartialAsync("SellerSignupViewModel", Model)
	<div class="form-group">
		<input type="submit" value="Signup" class="btn btn-primary" />
	</div>
</form>