@model ProductTypeUpdateRequestAddModel

<input asp-for="ProductTypeId" type="hidden" />
<div class="form-row">
	<div class="form-group col-md-4">
		<h2><label asp-for="Name" class="control-label text-lg-left"></label></h2>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-12">
		<h2><label asp-for="CategoryId" class="control-label"></label></h2>
		<button id="clearCategoryPicking" type="button" class="btn btn-danger btn-sm">X</button>
		<input id="categoryHiddenPickingResult" type="hidden" asp-for="CategoryId" class="form-control" />
		<div id="categoryPickingResult">
			@if (Model.CategoryId != null)
			{
				<vc:category-bread-crumb category-id="(int)Model.CategoryId"></vc:category-bread-crumb>
			}
		</div>
	</div>
</div>
@await Component.InvokeAsync("CategoriesPickerDropDown", new { additionalCssClass = "btn btn-success" })
<div class="form-row">
	<div class="form-group col-md-12">
		<h2><label asp-for="Descriptions" class="control-label"></label></h2>
		<textarea asp-for="Descriptions" class="form-control" placeholder="update descriptions"></textarea>
		<span asp-validation-for="Descriptions" class="text-danger"></span>
	</div>
</div>

<script type="text/javascript">

	//picking category

	$('.categoryPickingButton').click(
		function (event) {
			// Stop form from submitting normally
			event.preventDefault();
			var $btn = $(this);
			var $attr = $btn.find('p[name=\'categoryId\']');

			$('#categoryHiddenPickingResult').val($attr.html());

			$.ajax({
				url: $('#getCategoryBreadCrumbUrl').val(),
				type: "get",
				data: { categoryId: $attr.html() },
				success: function (result) {
					$('#categoryPickingResult').html(result);
				},
				error: function (result) {
					alert('something went wrong while picking category:\n' + result);
				}
			});
		});

	$('#clearCategoryPicking').click(
		function (event) {
			// Stop btn behavior to make form validate it self
			event.preventDefault();

			//clear result of picking category
			$('#categoryPickingResult').html('');
			$('#categoryHiddenPickingResult').val('');
		});
</script>