<div id="errorZone" class="alert alert-danger d-none">
	<div id="errorContent">
		@if (ViewData[GlobalViewBagKeys.Errors] != null)
		{
			IEnumerable<string> errors = (IEnumerable<string>)ViewData[GlobalViewBagKeys.Errors];
			foreach (string error in errors)
			{
				<p>@error</p>
			}
		}
	</div>
	<button id="closeErrorZoneBtn" class="btn btn-sm btn-danger float-right">X</button>
</div>