.comment .comment {
	margin-left: 4rem;
}

.comment-btn-group {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.comment-img-container {
	width: 100px;
	height: 100px;
	display: inline-flex;
	margin-bottom: 10px;
}

.comment-img-container img {
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}