<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" charset="utf-8" />
	<link rel="stylesheet" href="~/css/style.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />

	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/js/script.js"></script>
	<script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

	<title>@ViewBag.Title</title>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="container p-0">
			<a class="navbar-brand" href="@Url.HomePage()">Simple Ecommerce</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
				<!--header-nav-->
				<ul class="navbar-nav m-auto">
					<li class="nav-item">
						<a class="nav-link" href="@Url.HomePage()">Home</a>
					</li>
					<li class="nav-item active">
						@await Component.InvokeAsync("CategoriesDropDown", new { additionalCssClass = "nav-link" })
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-action="Index" asp-controller="Product">Product</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-action="Index" asp-controller="Cart">Cart</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
				<!--header-nav-->

				<div class="form-inline my-2 my-lg-0">
					<!--search-->
					<form asp-action="Index" asp-controller="Product" method="get" class="input-group input-group-sm">
						<input type="text" name="searchString" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
						<div class="input-group-append">
							<button type="submit" class="btn btn-secondary btn-number">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</form>
					<!--search-->
					<!--Cart small-->
					@await Component.InvokeAsync("SellerDropDown")
					@await Component.InvokeAsync("CustomerDropDown")
					@await Component.InvokeAsync("SmallCart")
					<!--Cart small-->
				</div>
			</div>
		</div>
	</nav>
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">E-COMMERCE CATEGORY</h1>
			<p class="lead text-muted mb-0">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte...</p>
		</div>
	</section>
	<!--header-->
	<!--body-->
	<!--breadcrumb-->
	@await Component.InvokeAsync("BreadCrumb")
	<!--breadcrumb-->
	<!--body-left-right-->
	<div class="mb-3 row ml-0 mr-0">
			<!--left-->
			<div class="col-2">
				@await Component.InvokeAsync("NavigationMenu")
			</div>
			<!--left-->
			<!--right-->
			<div class="col-10">
				@await Html.PartialAsync("MessageZone")
				@await Html.PartialAsync("ErrorZone")
				@RenderBody()
			</div>
			<!--right-->
	</div>
	<!--body-left-right-->
	<!--body-->
	<!-- Footer -->
	<footer class="text-light">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-lg-4 col-xl-3">
					<h5>About</h5>
					<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
					<p class="mb-0">
						Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
					</p>
				</div>

				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
					<h5>Informations</h5>
					<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
					<ul class="list-unstyled">
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
						<li><a href="#">Link 4</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
					<h5>Others links</h5>
					<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
					<ul class="list-unstyled">
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
						<li><a href="#">Link 4</a></li>
					</ul>
				</div>

				<div class="col-md-4 col-lg-3 col-xl-3">
					<h5>Contact</h5>
					<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
					<ul class="list-unstyled">
						<li><i class="fa fa-home mr-2"></i> My company</li>
						<li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
						<li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
						<li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
					</ul>
				</div>
				<div class="col-12 copyright mt-3">
					<p class="float-left">
						<a href="#">Back to top</a>
					</p>
					<p class="text-right text-muted">created with <i class="fa fa-heart"></i> by <a href="#"><i>t-php</i></a> | <span>v. 1.0</span></p>
				</div>
			</div>
		</div>
	</footer>
	<!--embed urls into html-->
	@await Html.PartialAsync("EmbedUrl")
	<!--embed urls into html-->

	@await RenderSectionAsync("Styles", false)
	@await RenderSectionAsync("Scripts", false)
</body>
</html>