<div id="messageZone" class="alert alert-success d-none">
	<div id="messageContent">
		@if (ViewData[GlobalViewBagKeys.Messages] != null)
		{
			IEnumerable<string> messages = (IEnumerable<string>)ViewData[GlobalViewBagKeys.Messages];
			foreach (string message in messages)
			{
				<p>@message</p>
			}
		}
	</div>
	<button id="closeMessageZoneBtn" class="btn btn-sm btn-danger float-right">X</button>
</div>