@model Cart

<div id="cartTableContainer">
	@await Component.InvokeAsync("CartTable", Model)
</div>

<script type="text/javascript">

	//small cart updating
	function updateSmallCart() {
		$.ajax({
			url: $('#cartTotalQuantityUrl').val(),
			type: 'get',
			success: function (result) {
				$('#cartQuantity').html(result);
			}
		});
	}

	//reload cart table when remove product
	$('#cartTableContainer').on('submit', '.removeFromCartOnSubmit',
		function (event) {
			// Stop form from submitting normally
			event.preventDefault();
			var $form = $(this);
			$.ajax({
				url: $form.attr('action'),
				type: $form.attr('method'),
				data: $form.serialize(),
				success: function (result) {
					updateSmallCart();
					$('#cartTableContainer').html(result);
				},
				error: function (result) {
					alert('something went wrong while removing from cart:\n' + result);
				}
			});
		});

	//reload cart table when change product quantity
	$('#cartTableContainer').on('submit', '.changeCartQuantityOnSubmit',
		function (event) {
			// Stop form from submitting normally
			event.preventDefault();
			var $form = $(this);
			$.ajax({
				url: $form.attr('action'),
				type: $form.attr('method'),
				data: $form.serialize(),
				success: function (result) {
					updateSmallCart();
					$('#cartTableContainer').html(result);
				},
				error: function (result) {
					alert('something went wrong while changing cart quantity:\n' + result);
				}
			});
		});

	//remove disable form btn when quantity input changed
	$('#cartTableContainer').on('change', '.quantityInput',
		function () {
			var $submitBtn = $(this).closest('.changeCartQuantityOnSubmit').find('input[type=submit]');
			$submitBtn.removeAttr('disabled hidden');
		});
</script>