/*replaces text over flow with dots for customer and seller dropdown*/
.overflow-txt {
	white-space: nowrap;
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*drop down*/
.dropdown-submenu {
	position: relative;
}

	.dropdown-submenu > a:after {
		content: ">";
		float: right;
	}

	.dropdown-submenu > .dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: 0px;
		margin-left: 0px;
	}

.dropdown-hover .dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

.dropdown-toggle:hover {
	text-decoration: none;
	color: white;
}

.dropdown-toggle {
	color: white;
}

.category_block .dropdown-item:hover {
	background-color: #007bff;
	color: #ffffff;
}

.category_block .dropdown-item {
	color: #343a40;
}

/*layout*/
.bloc_left_price {
	color: #c01508;
	text-align: center;
	font-weight: bold;
	font-size: 150%;
}

.category_block .list-group-item:hover {
	background-color: #007bff;
}

	.category_block .list-group-item:hover .list-group-item-link {
		color: #ffffff;
	}

.category_block .list-group-item .list-group-item-link {
	color: #343a40;
	text-decoration: none;
}

.add_to_cart_block .price {
	color: #c01508;
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	margin-bottom: 0;
}

.add_to_cart_block .price_discounted {
	color: #343a40;
	text-align: center;
	text-decoration: line-through;
	font-size: 140%;
}

.product_rassurance {
	padding: 10px;
	margin-top: 15px;
	background: #ffffff;
	border: 1px solid #6c757d;
	color: #6c757d;
}

	.product_rassurance .list-inline {
		margin-bottom: 0;
		text-transform: uppercase;
		text-align: center;
	}

		.product_rassurance .list-inline li:hover {
			color: #343a40;
		}

.reviews_product .fa-star {
	color: gold;
}

.pagination {
	margin-top: 20px;
}

footer {
	background: #343a40;
	padding: 40px;
}

	footer a {
		color: #f8f9fa !important
	}