@model CustomerSearchViewModel

<fieldset class="border rounded pl-3 pr-3 m-3">
	<legend>Find Customers By:</legend>
	<form action="@Model.Url" method="get">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div class="form-row">
			@if (Model.ShowId)
			{
			<div class="form-group col-md-6">
				<div class="input-group">
					<div class="input-group-prepend">
						<label asp-for="SearchModel.Id" class="control-label input-group-text"></label>
					</div>
					<input name="id" asp-for="SearchModel.Id" class="form-control" />
				</div>
				<span asp-validation-for="SearchModel.Id" class="text-danger"></span>
			</div>
			}

			@if (Model.ShowActive)
			{
			<div class="form-group col-md-6">
				<div class="input-group">
					<div class="input-group-prepend">
						<label asp-for="SearchModel.Active" class="control-label input-group-text"></label>
					</div>
					<select selected-bool-value="@Model.SearchModel.Active" option-label="All" true-label="Active" false-label="Locked" class="form-control" name="active"></select>
				</div>
			</div>
			}
			}
		</div>
		<div class="form-row">
			@if (Model.ShowEmail)
			{
			<div class="form-group col-md-6">
				<div class="input-group">
					<div class="input-group-prepend">
						<label asp-for="SearchModel.Email" class="control-label input-group-text"></label>
					</div>
					<input name="email" asp-for="SearchModel.Email" class="form-control" />
				</div>
				<span asp-validation-for="SearchModel.Email" class="text-danger"></span>
			</div>
			}

			@if (Model.ShowUserId)
			{
			<div class="form-group col-md-6">
				<div class="input-group">
					<div class="input-group-prepend">
						<label asp-for="SearchModel.UserId" class="control-label input-group-text"></label>
					</div>
					<input name="userId" asp-for="SearchModel.UserId" class="form-control" />
				</div>
				<span asp-validation-for="SearchModel.UserId" class="text-danger"></span>
			</div>
			}
		</div>
		<div class="form-row">
			@if (Model.ShowFirstName)
			{
			<div class="form-group col-md-4">
				<div class="input-group">
					<div class="input-group-prepend">
						<label asp-for="SearchModel.FirstName" class="control-label input-group-text"></label>
					</div>
					<input name="firstName" asp-for="SearchModel.FirstName" class="form-control" />
				</div>
				<span asp-validation-for="SearchModel.FirstName" class="text-danger"></span>
			</div>
			}

			@if (Model.ShowMiddleName)
			{
			<div class="form-group col-md-4">
				<div class="input-group">
					<div class="input-group-prepend">
						<label asp-for="SearchModel.MiddleName" class="control-label input-group-text"></label>
					</div>
					<input name="middleName" asp-for="SearchModel.MiddleName" class="form-control" />
				</div>
				<span asp-validation-for="SearchModel.MiddleName" class="text-danger"></span>
			</div>
			}

			@if (Model.ShowLastName)
			{
			<div class="form-group col-md-4">
				<div class="input-group">
					<div class="input-group-prepend">
						<label asp-for="SearchModel.LastName" class="control-label input-group-text"></label>
					</div>
					<input name="lastName" asp-for="SearchModel.LastName" class="form-control" />
				</div>
				<span asp-validation-for="SearchModel.LastName" class="text-danger"></span>
			</div>
			}
		</div>

		<div class="form-group">
			<input type="submit" value="Find" class="btn btn-primary" />
		</div>
	</form>
</fieldset>