@model SellerSearchViewModel

<fieldset class="border rounded pl-3 pr-3 m-3">
	<legend>Find Sellers By:</legend>
	<form action="@Model.Url" method="get">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div class="form-row">
			@if (Model.ShowId)
			{
			<div class="form-group col-md-2">
				<div class="input-group">
					<div class="input-group-prepend">
						<label asp-for="SearchModel.Id" class="control-label input-group-text"></label>
					</div>
					<input name="id" asp-for="SearchModel.Id" class="form-control" />
				</div>
				<span asp-validation-for="SearchModel.Id" class="text-danger"></span>
			</div>
			}

			@if (Model.ShowStoreName)
			{
			<div class="form-group col-md-7">
				<div class="input-group">
					<div class="input-group-prepend">
						<label asp-for="SearchModel.StoreName" class="control-label input-group-text"></label>
					</div>
					<input name="name" asp-for="SearchModel.StoreName" class="form-control" />
				</div>
				<span asp-validation-for="SearchModel.StoreName" class="text-danger"></span>
			</div>
			}

			@if (Model.ShowStatus)
			{
			<div class="form-group col-md-3">
				<div class="input-group">
					<div class="input-group-prepend">
						<label asp-for="SearchModel.Status" class="control-label input-group-text"></label>
					</div>
					<select class="form-control" name="status" enum-type="typeof(SellerStatus)" selected="Model.SearchModel.Status" option-label=""></select>
				</div>
				<span asp-validation-for="SearchModel.Status" class="text-danger"></span>
			</div>
			}
		</div>

		<div class="form-row">
			@if (Model.ShowFirstName)
			{
			<div class="form-group col-md-4">
				<div class="input-group">
					<div class="input-group-prepend">
						<label asp-for="SearchModel.FirstName" class="control-label input-group-text"></label>
					</div>
					<input name="firstName" asp-for="SearchModel.FirstName" class="form-control" />
				</div>
				<span asp-validation-for="SearchModel.FirstName" class="text-danger"></span>
			</div>
			}

			@if (Model.ShowMiddleName)
			{
			<div class="form-group col-md-4">
				<div class="input-group">
					<div class="input-group-prepend">
						<label asp-for="SearchModel.MiddleName" class="control-label input-group-text"></label>
					</div>
					<input name="middleName" asp-for="SearchModel.MiddleName" class="form-control" />
				</div>
				<span asp-validation-for="SearchModel.MiddleName" class="text-danger"></span>
			</div>
			}

			@if (Model.ShowLastName)
			{
			<div class="form-group col-md-4">
				<div class="input-group">
					<div class="input-group-prepend">
						<label asp-for="SearchModel.LastName" class="control-label input-group-text"></label>
					</div>
					<input name="lastName" asp-for="SearchModel.LastName" class="form-control" />
				</div>
				<span asp-validation-for="SearchModel.LastName" class="text-danger"></span>
			</div>
			}
		</div>

		<div class="form-row">
			@if (Model.ShowEmail)
			{
			<div class="form-group col-md-6">
				<div class="input-group">
					<div class="input-group-prepend">
						<label asp-for="SearchModel.Email" class="control-label input-group-text"></label>
					</div>
					<input name="email" asp-for="SearchModel.Email" class="form-control" />
				</div>
				<span asp-validation-for="SearchModel.Email" class="text-danger"></span>
			</div>
			}

			@if (Model.ShowPhoneNumber)
			{
			<div class="form-group col-md-6">
				<div class="input-group">
					<div class="input-group-prepend">
						<label asp-for="SearchModel.PhoneNumber" class="control-label input-group-text"></label>
					</div>
					<input name="phoneNumber" asp-for="SearchModel.PhoneNumber" class="form-control" />
				</div>
				<span asp-validation-for="SearchModel.PhoneNumber" class="text-danger"></span>
			</div>
			}
		</div>

		<div class="form-group">
			<input type="submit" value="Find" class="btn btn-primary" />
		</div>
	</form>
</fieldset>