.productImageContainerForOrderTable {
	height: 150px;
	width: 150px;
	display: flex;
	margin: auto;
}

	.productImageContainerForOrderTable img {
		margin: auto;
		max-height: 100%;
		max-width: 100%;
	}