@model ProductTypeView

<input asp-for="Id" />
<div class="form-group">
	<label asp-for="Name" class="control-label"></label>
	<input asp-for="Name" class="form-control" />
	<span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="categoryPickerContainer">
	<div class="form-group">
		<label class="control-label">Category</label>
		<input class="categoryHiddenPickingResult" type="hidden" asp-for="CategoryId" class="form-control" />

		<div class="categoryPickingResult">
			<vc:category-bread-crumb category-id="Model.CategoryId"></vc:category-bread-crumb>
		</div>

		<span asp-validation-for="CategoryId" class="text-danger"></span>
	</div>
	@await Component.InvokeAsync("CategoriesPickerDropDown", new { additionalCssClass = "btn btn-success" })
</div>

<script type="text/javascript">

	//picking category

	$('.categoryPickingButton').click(
		function (event) {
			// Stop form from submitting normally
			event.preventDefault();
			var $btn = $(this);
			var $attr = $btn.find('p[name=\'categoryId\']');

			let container = $(this).closest(".categoryPickerContainer");
			container.find(".categoryHiddenPickingResult").val($attr.html());

			$.ajax({
				url: $('#getCategoryBreadCrumbUrl').val(),
				type: "get",
				data: { categoryId: $attr.html() },
				success: function (result) {
					container.find(".categoryPickingResult").html(result);
				},
				error: function (result) {
					alert('something went wrong while picking category:\n' + result);
				}
			});
		});
</script>