@model CustomerSignupViewModel

<form>
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	@Html.EditorForModel()
	<div class="form-group">
		<input type="submit" value="Signup" class="btn btn-primary" />
	</div>
</form>