@model ProductTypeAddModel

<form method="post" asp-action="CreateProductType" class="m-3">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group">
		<label asp-for="Name" class="control-label"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<div class="input-group">
			<div class="input-group-prepend">
				<label asp-for="CategoryId" class="control-label input-group-text"></label>
			</div>
			@await Html.PartialAsync("CategoryPicker", new CategoryPickerModel { CurrentCategoryId = Model.CategoryId, InputName = "categoryId", ShowCancelButton = false })
		</div>
	</div>
	<div class="form-group">
		<input type="submit" value="Create" class="btn btn-primary" />
	</div>
</form>

@section Scripts {
	<script type="text/javascript" src="~/js/category-picker.js"></script>
}

@section Styles {
	<link rel="stylesheet" href="~/css/category-picker.css" />
}