@model ProductTypeView

<h1>Product Type: @Model.Name</h1>

<form>
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	@Html.EditorForModel("ProductTypeViewForUpdate")
	<div class="form-group">
		<input type="submit" value="Save" class="btn btn-primary" />
	</div>
</form>
<a class="btn btn-info" asp-action="Product" asp-route-productTypeId="@Model.Id">View products of @Model.Name</a>