@model IEnumerable<HtmlLinkAttributes>

<nav class="container" aria-label="breadcrumb">
	<ol class="breadcrumb">
		@{
			short length = (short)Model.Count();
			foreach (HtmlLinkAttributes link in Model)
			{
				<li class="breadcrumb-item"><a href="@link.Url">@link.Text</a></li>
			}
		}
	</ol>
</nav>