@model ProductTypeUpdateRequestAddModel

@{
//required: category-picker.js(from CategoriesPickerDropDown ViewComponent)
}

<input asp-for="ProductTypeId" type="hidden" />
<div class="form-row">
	<div class="form-group col-md-4">
		<h2><label asp-for="Name" class="control-label text-lg-left"></label></h2>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
</div>
<div class="form-group">
	<div class="input-group">
		<div class="input-group-prepend">
			<label asp-for="CategoryId" class="control-label input-group-text"></label>
		</div>
		@await Html.PartialAsync("CategoryPicker", new CategoryPickerModel { CurrentCategoryId = Model.CategoryId, InputName = "CategoryId", ShowCancelButton = false })
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-12">
		<h2><label asp-for="Descriptions" class="control-label"></label></h2>
		<textarea asp-for="Descriptions" class="form-control" placeholder="update descriptions"></textarea>
		<span asp-validation-for="Descriptions" class="text-danger"></span>
	</div>
</div>