@model ProductTypesListViewModel

<form class="float-left" asp-action="SelectProductType" method="get">
	<div class="input-group mb-3">
		<input class="form-control" type="text" name="searchString" value="@Model.SearchModel.SearchString" placeholder="Find product types" />
		<div class="input-group-append">
			<input class="btn btn-success" type="submit" value="Find" />
		</div>
	</div>
</form>

<div class="card bg-info text-white float-right">
	<div class="card-body">
		<p class="card-title">Can't find what you're looking for?</p>
		<a asp-action="CreateProductType" class="btn btn-warning">Create New!!!</a>
	</div>
</div>

@Html.DisplayFor(m => m.ProductTypes, "SelectProductTypeTable")

<div page-model="Model.PagingInfo" page-action="@ViewContext.RouteData.Values["Action"].ToString()" class="col-12"
	 page-class="page-item" page-class-normal=""
	 page-class-selected="active" page-class-disabled="disabled"
	 page-url-searchString="Model.SearchModel.SearchString">
</div>